body {
    margin: 0;
}
.title-table {
    text-align: center;
    background-color: #0d0dcc !important; /*eeeeff*/
    color: #FFF !important;
    border: 1px solid #adadad !important;
    padding: 8;
}
.item-linha-title {
    background-color: #e5e5e5 !important;
    border: 1px solid #adadad !important;
}
.td-input  {
    position: relative;
    padding: 0 !important;
}
.input-item {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}
table tbody th {
    width: 180px !important;
    font-size: 12px;
}
table tbody td {
    font-size: 12px;
}
.indicador-verde {
    background-color: #007c00 !important;
    color: #FFF !important;
}
.indicador-amarelo {
    background-color: #dfdb00 !important; /*fffeca*/
    border: 1px solid #adadad !important;
}
.btn-default {
    width: 160px;
    background-color: #0d66cc;
    color: #FFF;
    border: 0;
    height: 35px;
    border-radius: 6px;
    margin-bottom: 30px;
}